HUGGING_FACE_API_KEY=YOUR_HUGGING_FACE_API_KEY
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_CLERK_PUBLISHABLE_KEY
APP_AWS_ACCESS_KEY=YOUR_AWS_ACCESS_KEY
APP_AWS_SECRET_KEY=YOUR_AWS_SECRET_KEY
APP_AWS_REGION=YOUR_AWS_REGION
APP_S3_BUCKET=YOUR_S3_BUCKET